/*****************TEMPLATE**********************/
#header{
    width: 70%;
    margin: 0 auto;
} 

#header h1{
    font-family: 'Zapf Chancery', cursive;
    color: white;
    text-align: left;
}

#header #signOut{
    text-align: right;
    float: right;
    margin-top: -50px;
    margin-right: 10px;
}

.signOut{
    color: white;
}

#subheader p{
    margin-left: 42%;
}

#menu{
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
}

#menu ul{
    margin-left: 20%;
    list-style-type: none;

}

#menu ul li { 
    display: inline; 
}

#subheader{
    width: 70%;
    height: 35px;
    margin: 0 auto;
}


#menu-list{
    margin:0;
    padding: 0;
    width: 80%;
    margin-left: 10%;
 
}

#sub-menu{
    width: 80%;
    margin-left: 10%;
}

#content{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    margin-top: -29px;
    padding-bottom: 50px;
}

/*****************END TEMPLATE**********************/

/*****************CUSTOMER**********************/

/* Show Customer --------------------------------*/

#customer-info{
    padding-top: 5px;
    margin-top: 3%;
    margin-left: 8%;
    width: 200px;
}

#customer-address{
    margin-left: 8%;
    margin-top: 10%;
    width: 200px;
}

#customer-purchase-orders{
    margin-left: 40%;
    margin-top: -400px;
    width: 500px;
    height: 450px;
}


/* Customers -------------------------------------------------------*/

#customers-table{
    width: 90%;
    margin-left: 5%;
}

#customer-data-table{
    width: 100%;
}


/*****************END CUSTOMER**********************/

#admins-table{
    width: 90%;
    margin-left: 5%;
}

/*****************ADMIN**********************/

/*****************END ADMIN**********************/

/*****************PURCHASE**********************/


/* Customer Purchase-----------------------------*/
#purchase-customer-info{
    padding-top: 5px;
    margin-top: 3%;
    margin-left: 8%;
    width: 200px;
}

#purchase-order-info{
    margin-left: 8%;
    margin-top: 10%;
    width: 200px;
}

#order-items{
    margin-left: 40%;
    margin-top: -270px;
    width: 500px;
    height: 450px;
}


/*Purchases -------------------------------------------------------*/
#purchases-table{
    width: 90%;
    margin-left: 5%;
}

/*****************END PURCHASE**********************/

/*****************RATING**********************/

/*Product Ratings-------------------------------*/
#total-rating{
    padding-top: 5px;
    margin-top: 3%;
    margin-left: 8%;
    width: 200px;
}

#rating-info{
    margin-left: 8%;
    margin-top: 10%;
    width: 200px;
}

#product-ratings-table{
    margin-left: 40%;
    margin-top: -275px;
    width: 500px;
    height: 450px;
}

/*****************END RATING**********************/

/*****************NEWS**********************/

/*Send news*/
#send-news{
    margin-left: 40%;
}

/*****************END NEWS**********************/

/*Input Form------------------------------------------*/
.inputForm{
    margin-top: -25px;
    margin-left: 35%;
}

.inputForm input[type=button],
.inputForm input[type=commanButton]{
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}


/*Margin fix------------*/
#margin-fix{
    margin-top: 3%;
}


/*****************INDEX**********************/

#index-header{
    margin-top: 3%;
}

#index-header p{
    padding-top: 15%;
    padding-bottom: 15%;
}

/*****************END INDEX**********************/
