/* 
Document   : main
Created on : Oct 7, 2013, 3:52:19 PM
Author     : emilbogren
Description:
    Purpose of the stylesheet follows.
*/

header{
    background: #f5f5f5;
    margin: 0 auto;
    background-position: center;
    
}

header h1{  
    padding-top: 0.5em;
    font-size: 40px;
    font-weight: 900;
    font-variant: small-caps;
    margin-left: 0.5em;
    vertical-align: middle;
    background: #f5f5f5;
    text-align: center;
}

.headerstyle{
    display: table;
    margin: 0 auto;
    width: 960px; 
    padding-left: 10px;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#content{
    width: 960px;
    height: 600px; /* Auto */
    margin: 0 auto;
    
    
}

#logodiv {
    background-image: url("#{resource['img:g4s.jpg']}");
    width: 960px;
    height: 200px;  
    display: table;
    margin: 0 auto;
    text-align: center;
}

#headerlinks{
    background: transparent;
    margin-left: 0px;
    margin: auto;
    width: 100%;
}

.hlink{
    list-style-type: none;
    text-align: left;
    padding: 0px;
    display: inline-block;
    width: 50%;
}

.hlink li {
    font: 500 12px/1.5 Helvetica, Verdana, sans-serif;
    border-right: 1px solid #777;
    display: inline;
    text-align: center;
    padding-right: 4px;
    height: auto;
}

.hlink li:last-child {
    border: none;
}

.hlink li a {
    text-decoration: none;
    /*color: #000;*/
    /*display: block;*/
    /*width: 200px;*/
    color: #777;
    background: #f5f5f5; 
}

.hlink li a:hover {
    text-decoration: none;
    /*color: #000;*/
    /*display: block;*/
    /*width: 200px;*/
    color: #3BA3D0;
    background: #f5f5f5;
}


.ulinks {
    list-style-type: none;
    text-align: right;
    padding: 0px;
    display: inline-block;
    margin-right: 0px;
    width: 475px;
}
.ulinks li{
    font: 500 12px/1.5 Helvetica, Verdana, sans-serif;
    display: inline;
    text-align: center;
    padding-right: 4px;
    height: auto;
}
.hlink li a {
    text-decoration: none;
    color: #777;
    background: #f5f5f5; 
}

.hlink li a:hover {
    text-decoration: none;
    color: #3BA3D0;
    background: #f5f5f5;
}
/*****  HEADER STYLE - END *********/*


/* Inner content */ 

#innerdiv {
    
}

.inner-2part{
    background-color: #f7f8f9;
    padding: 10px;
}




/******************************/

.footerstyle{
    background: #fff;
    border: none;
    text-align: center;
    font-size: 9px;
    font-family: "Verdana" , sans-serif;
}

div#products-contain { width: 350px; margin: 20px 0; }
div#products-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#products-contain table td, div#products-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }

#prev-button #next-button {
}


/**** Overriding Primefaces CSS ****/

.ui-carousel .ui-carousel-header{
    height: 35px!important;
}

.ui-corner-all{
    border-radius: 0px!important;
}

.ui-carousel .ui-carousel-viewport{
    width: 960px!important;
    height: 373px!important;
}