/* 
    Document   : receiptframe
    Created on : Oct 18, 2013, 10:49:49 PM
    Author     : emilbogren
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin:0px;
    padding: 0px;
}


.page{
    position: relative;
    width: 19cm;
    min-height: 23.7cm;
    padding: 2cm;
    background: #ffffff;
}

.subpage{
    position: relative;
    height: 23.7cm;
    width: 19cm;
}

.logo{
    float: right;
    width: 5cm;
    height: 2.5cm;
    background: #444;
    margin-right:2cm;
}

.customerinfo{
    float:left;
    
}

.customerinfo h3{
    font-size: 18px;
    font-weight: 600;
}

.productcontent{
    
    margin-top: 25%;
    margin-right: 2cm;
    border: 1px solid;
    
    border-color: #444;
    padding: 3px;
}

.productcontent h3{
    font-size: 12px;
    font-weight: 600;
}
    

.contactfooter{
    width: 90%;
    position: absolute;
    bottom: -2cm;
    border-top: #444 1px solid;
}

.contactfooter h3{
    font-size: 12px;
    font-weight: 600;
}

@page{
    size: A4;
    margin: 0px;
}
@media print {
    #page{
        margin: 0px;
        background: initial;
    }
}

