/* 
    Document   : style
    Created on : 2013-okt-07, 11:55:16
    Author     : erikforsberg
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

header {
    background-image:  url(../img/test-banner.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 660px;
    background-position: center;
    border-radius:25px;
    box-shadow: 8px 8px 5px gainsboro
}

header h1{  
    padding-top: 0.5em;
    font-size: 40px;
    font-family: fantasy;
    font-style: italic;
    font-weight: 900;
    font-variant: small-caps;
    text-align: left;
    margin-left: 0.5em;
    vertical-align: middle;
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 660px;
}

#tabsheader{
    width: 660px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 25px;
}

#tabsheader ul{
    list-style: none;
    padding:0;
    margin:0;
}

#tabsheader li{
    display: inline;
    padding:0;
    margin:0;
    margin: 0 0.5em 0 0;
}

